<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VehicleMaintain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>047324EF1E1559420065DD35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047325031E1559420065DD35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0473250E1E1559420065DD35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
